{{define "breadcrumb"}}
    {{ $size := len .Breadcrumb}}
    {{if gt $size 1 }}
        <nav>
            <ol>
                {{range .Breadcrumb}}
                    <li><a href="/{{.PageId}}">{{.Title}}</a></li>/
                {{end}}
            </ol>
        </nav>
    {{end}}
{{end}}