<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "header" .}}
<main>
    <form action="/save/{{.PageId}}" method="POST">

        <h1>Create New Page</h1>

        <label for="parent">Parent</label>
        <input id="parent" type="text" title="parent" name="parent" value="{{.Parent}}"/>
        <label for="name">Page Name</label>
        <input id="name" type="text" title="name" name="name" value="{{.Name}}-{{.PageId}}"/>
        <label for="body">Enter new Body Text  </label>
        <textarea id="body" title="body" name="body" rows="10" cols="30">{{ .Body}}</textarea>
        <input type="submit" value="Save">
    </form>
</main>
{{template "footer" .}}
</body>
</html>

