{{define "head"}}
<head>
    <title>Go - {{ .Title}}</title>
    <meta name="description" content="Site description" />
    <link rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/resources/vars.css" />
    <link rel="stylesheet" href="/resources/site.css" />
    <link rel="stylesheet" href="/resources/text.css" />
</head>
{{end}}