{{define "header"}}
<header>
<h1>Go</h1>
<nav>
    <ul>
        {{range .Parents}}
            <li><a href="/{{.PageId}}">{{.Title}}</a></li>
        {{end}}
        <li><a href="/create/0">+</a></li>
    </ul>
</nav>
</header>
{{end}}